@import "../../styles/colors.css";

.input-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input-field label {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-text-secundary);
  margin-bottom: 0.4rem;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  background-color: var(--color-background); 
  border: 0.0625rem solid var(--color-accent); 
  border-radius: 0.8rem;
  padding: 0.7rem 2.3rem 0.7rem 0.8rem; 
  font-size: 0.9rem;
  color : var(--color-text-primary);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-wrapper input:focus {
  outline: none;
  border-color: var(--color-accent);
  box-shadow: var(--color-background);
}

.toggle-eye {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-55%); 
  width: 1.25rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.toggle-eye:hover {
  opacity: 1;
}