@import "../../styles/colors.css";

.checkbox  {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  color: var(--color-accent);
}

.checkbox input[type="checkbox"] {
  accent-color: var(--color-primary-dark);
  width: 18px;
  height: 18px;
}
