.descripcion-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 6rem;
  gap: 3rem;
}

.book-cover img {
  width: 250px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.book-info {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.book-title {
  font-size: 35px;
  font-weight: bold;
}

.book-meta {
  font-size: 1.1rem;
  color: #555;
}

.book-extra {
  font-size: 0.9rem;
  color: #777;
}

.rating-section {
  margin-top: 3px;
}

.stars {
  font-size: 1.8rem;
  color: #d9c179;
}

.rating-section input[type="range"] {
  width: 100%;
  margin-top: 2px;
  accent-color: #736140;
}

.rating-value {
  font-size: 0.9rem;
  color: #444;
  margin-top: 0.3rem;
}

.review-section {
  margin-top: 20px;
  background-color: #d9cba3;
  padding: 15px;
  border-style: outset;
}

.review-section h3 {
  font-size: 17px;
  margin-bottom: 5px;
  color: #333;
}

.review-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
}

.review-button {
  margin-top: 10px;
  background-color: #736140;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s;
}

.review-button:hover {
  background-color: #5c4d30;
}

.review-list {
  margin-top: 22px;
}

.review-list h3 {
  margin-bottom: 15px;
  color: #444;
  font-size: 15px;
}

.review-item {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
  border-left: 4px solid #d9c179;
  font-size: 12px;
  line-height: 1.4;
}

#fondo {
  background-color: #f2ebdc;
}
